.App {
  /*padding-top: 36px;*/
  text-align: center;
}

.search-form-wrapper{
  display: flex;
  justify-content: center;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  background-color: #fdfdfd;
  
}

.MoviesList-item{
  margin-bottom: 24px;
  width: 48%;
}

.MoviesList-item:hover{
  background-color: #373330 !important;
}

.card-wrapper{
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}


.card-content {
  padding: 0.5rem;
}

nav.level{
  min-height: 80px;
  padding: 20px;
  box-shadow: 0px 3px 7px 0px rgba(211,211,211,1);
  margin-bottom: 24px !important;
}

.black-notification{
  background-color: #373330 !important;
  color: #fdfdfd;
}